#!/usr/bin/env python
# -*- coding: utf-8 -*-

"""
:Mod: config

:Synopsis:

:Author:
    servilla

:Created:
    1/14/21
"""


class Config:
    API_KEY = "ipstack.com API key"
    BROWSER = "path to preferred web browser"
